aiofiles==25.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiosignal==1.4.0
anyio==4.13.0
attrs==26.1.0
beautifulsoup4==4.14.3
certifi==2026.4.22
charset-normalizer==3.4.7
deep-translator==1.11.4
filetype==1.2.0
frozenlist==1.8.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.13
Kurigram==2.2.22
markdownify==1.2.2
multidict==6.7.1
mutagen==1.47.0
pillow==12.2.0
propcache==0.4.1
pyaes==1.6.1
pycryptodome==3.23.0
pycryptodomex==3.23.0
python-socks==2.8.1
pyzipper==0.3.6
requests==2.33.1
Rubka==8.1.2
six==1.17.0
soupsieve==2.8.3
tqdm==4.67.3
typing_extensions==4.15.0
urllib3==2.6.3
websocket-client==1.9.0
yarl==1.23.0
tgcrypto
